<div class="container">
    <div class="row">
        <h2 class="title fw-semibold text-capitalize text-center">NUEVA COLECCIÓN SPEEDO</h2>
        <!-- Start filter menu-->
        <div class="col col-lg-3 col-md-3 ">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#categoryOptions" class="nav-link" aria-current="page">
                            Categoría
                        </a>
                        <div class="collapse" id="categoryOptions">
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexMen">
                                        <label class="form-check-label" for="flexMen">
                                            Hombre
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexWomen">
                                        <label class="form-check-label" for="flexWomen">
                                            Mujer
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexBoys">
                                        <label class="form-check-label" for="flexBoys">
                                            Niños
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" href="#genderOptions" class="nav-link">
                            Edad
                        </a>
                        <div class="collapse" id="genderOptions">
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                        <label class="form-check-label" for="flexCheckDefault1">
                                            Adultos
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                        <label class="form-check-label" for="flexCheckDefault2">
                                            Niños 6-14 años
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                        <label class="form-check-label" for="flexCheckDefault3">
                                            Niños 2-6 años
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" href="#useOptions" class="nav-link">
                            Uso
                        </a>
                        <div class="collapse" id="useOptions">
                            <ul class="nav nav-pills flex-column mb-auto">
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexEntertaiment">
                                        <label class="form-check-label" for="flexEntertaiment">
                                            Entrenamiento
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexRecreative">
                                        <label class="form-check-label" for="flexRecreative">
                                            Recreativo
                                        </label>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexProfessional">
                                        <label class="form-check-label" for="flexProfessional">
                                            Profesional
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End filter menu-->
        <!-- Start products detail-->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/190132/Aletas-unisex-naranja-8-08841F960-1.jpg?v=637830431793730000-2000-2000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/196686/vestido-de-bano-ninos-azul-8-1285714863-1.jpg?v=638139698802630000-1000-1000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/196845/camiseta-proteccion-solar-ninos-azul-8N028170052-1.jpg?v=638139699771500000-1000-1000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body ">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/190132/Aletas-unisex-naranja-8-08841F960-1.jpg?v=637830431793730000-2000-2000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/196686/vestido-de-bano-ninos-azul-8-1285714863-1.jpg?v=638139698802630000-1000-1000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-md-2">
                    <div class="card text-center shadow">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/196845/camiseta-proteccion-solar-ninos-azul-8N028170052-1.jpg?v=638139699771500000-1000-1000undefined"
                            class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body ">
                            <a href="/product" class="btn btn-primary">Ver produto</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Start products detail-->
        </div>
    </div>