<div class="container">
    <div class="row">
        <h2 class="title fw-semibold text-capitalize text-center mx-auto">Aletas Training Naranja-05</h2>
        <div class="col col-lg-6 col-md-12 mb-4 mb-md-2">
            <!-- start carrousel -->
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/190132/Aletas-unisex-naranja-8-08841F960-1.jpg?v=637830431793730000-2000-2000undefined"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/190133/Aletas-unisex-naranja-8-08841F960-2.jpg?v=637830431801400000-2000-2000undefined"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://speedoco.vteximg.com.br/arquivos/ids/190134/Aletas-unisex-naranja-8-08841F960-3.jpg?v=637830431812370000-2000-2000undefined"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>
            <!-- end carrousel -->
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-2">
            <p class="price fw-bold title">$369.900 ♥</p>
            <p style="text-align: justify;">
                Dentro de la categoría de accesorios de natación para adultos en Speedo Colombia buscamos brindarte
                comodidad para el desarrollo de tus actividades acuáticas. Tal es el caso de las
                <b>Aletas Training</b>.
                <br>
                <br>
                Estas <b>Aletas Training</b> están diseñadas para aumentar la velocidad a través del agua, mejora la
                fuerza de las piernas y la flexibilidad del tobillo.
                Su composición es de <b>100% Silicona</b> para un excelente confort; ofreciendo una aleta suave y còmodo
                calzado para el pie.
                <br>
                <br>
                Recuerda que en <b>Speedo Colombia</b> podrás encontrar una gran variedad de accesorios de natación para
                tus actividades de entrenamiento y recreación, además encontrarás trajes de baño y ropa deportiva.
            </p>
            <div class="col-2 mx-auto">
                <button class="btn btn-primary" type="submit">Comprar</button>
            </div>

        </div>
    </div>
</div>