<!-- start logo navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-2 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://speedoco.vteximg.com.br/arquivos/logo_speedo.png?v=637747589570200000" alt="Bootstrap" height="75">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link negrita" aria-current="page" href="/section"><strong>Nuevo</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Niños</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Gafas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Gorros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Accesorios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link negrita" href="/section"><strong>Rebajas</strong></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar un producto" aria-label="Search">
        <button class="btn btn-secundary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<!--end logo navbar -->

<!--Start router section-->
<router-outlet></router-outlet>
<!--End router section-->


<!-- Start footer -->
<footer class="bg-light text-center text-lg-start mb-2">
  <!--Grid column-->
 <!-- Section: Links -->
 <section class="footer-color">
  <!--Grid row-->
  <div class="row ">
    <!--Grid column-->
    <div class="col-lg-4 col-md-4 mb-4 mb-md-0 text-center">
      <a class="nav-link" href="#">Contáctenos</a>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-4 mb-4 mb-md-0 text-center">
      <a class="nav-link" href="#">Whatsapp</a>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-4 mb-4 mb-md-0 text-center">
      <a class="nav-link" href="#">Localizador de tiendas</a>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!-- Section: Links -->
</footer>
<!-- End footer -->
