$navbar-height: 80px;
$navbar-brand-padding-y: 10px;
$navbar-toggle-padding-vertical: 15px;
$navbar-toggle-icon-bar-width: 20px;
$navbar-collapse-max-height: 350px;
$navbar-text-color: #333;
$navbar-link-color: #333;
$navbar-active-link-color: #fff;
$navbar-default-bg: #fff;
$navbar-inverse-bg: #333;

