<!--Start carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="{'active': activeIndex === i}" *ngFor="let image of images; let i = index">
      <img [src]="image.imagen" alt="Imagen del banner" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--End carousel -->

<!--Start cards section-->
<section class="p-4 mb-2">
  <div class="row">
    <div class="col-lg-3 col-md-12 mb-4 mb-md-2">
      <div class="card text-center shadow">
        <img
          src="https://speedoco.vteximg.com.br/arquivos/ids/190132/Aletas-unisex-naranja-8-08841F960-1.jpg?v=637830431793730000-2000-2000undefined"
          class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
          <a href="/product" class="btn btn-primary">Ver produto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-md-2">
      <div class="card text-center shadow">
        <img
          src="https://speedoco.vteximg.com.br/arquivos/ids/196686/vestido-de-bano-ninos-azul-8-1285714863-1.jpg?v=638139698802630000-1000-1000undefined"
          class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
          <a href="/product" class="btn btn-primary">Ver produto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-md-2">
      <div class="card text-center shadow">
        <img
          src="https://speedoco.vteximg.com.br/arquivos/ids/196845/camiseta-proteccion-solar-ninos-azul-8N028170052-1.jpg?v=638139699771500000-1000-1000undefined"
          class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body ">
          <a href="/product" class="btn btn-primary">Ver produto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 mb-4 mb-md-2">
      <div class="card text-center shadow">
        <img
          src="https://speedoco.vteximg.com.br/arquivos/ids/196869/vestido-de-bano-ninos-negro-8N028340000-1.jpg?v=638139699932930000-1000-1000undefined"
          class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
          <a href="/product" class="btn btn-primary">Ver produto</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End cards section-->